* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 200vh;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0 20px;
}

button {
  background: inherit;
  border: none;
  cursor: pointer;
}

a {
  display: inline-block;
  width: 100%;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#navigation button {
  margin: 0 8px;
  padding: 4px 0;
  font-size: 1.1rem;
}

#navigation button:hover {
  border-bottom: 1px solid black;
}

#navigation button a {
  color: black;
}

#about-section {
  width: 100%;
}

.about {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#about-one {
  justify-content: right;
  height: calc(100vh - 100px);
  background-color: #faf0e6;
}

#about-two {
  justify-content: left;
  height: 100vh;
}

#about-three {
  justify-content: right;
  height: 100vh;
  background-color: #faf0e6;
}

.about-image {
  width: 38%;
  margin: 20px;
}

.about-image img {
  width: 100%;
  object-fit: contain;
}

.about button {
  width: 80px;
  height: 40px;
  margin-top: 8px;
  font-size: 1.1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.about button:hover {
  background-color: #b2c248;
}

#products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 25%;
}

.product > * {
  width: 100%;
  text-align: center;
  margin-top: 8px;
}

.product-img {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.product-button {
  padding: 8px;
  border: none;
  background: transparent;
  font-size: 1rem;
}

.product-button:hover span {
  display: none;
  transition: 5s;
}

.product-button:hover:before {
  content: "+ Add to Cart";
  border-bottom: 1px solid black;
}

#cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 380px;
  min-height: 100vh;
  padding: 28px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.cart-exit {
  display: flex;
  justify-content: end;
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid black;
}

.cart-exit-button {
  font-size: 1.6rem;
}

.cart-exit-button:hover {
  color: red;
}

.cart-product {
  display: flex;
  position: relative;
  height: 150px;
  padding: 16px 0;
  border-bottom: 1px solid black;
}

.cart-product-image {
  height: 100%;
}

.cart-product-details {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 8px;
  align-self: start;
  margin-left: 16px;
}

.cart-product-plus,
.cart-product-minus {
  font-size: 1.4rem;
}

.cart-product-exit {
  position: absolute;
  top: calc(top - 16px);
  right: 0;
  font-size: 1.4rem;
}

.cart-product-exit:hover {
  color: red;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
}

.cart-summary-button {
  width: 100%;
  margin: 16px 0;
  padding: 8px 0;
  border: 1px solid black;
  font-size: 1.2rem;
}

.cart-summary-button:hover {
  color: white;
  background-color: black;
}

.hide {
  display: none;
}
